body {
  margin: 0;
  /* overflow: hidden; */
}

p,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}

:root {
  --swiper-pagination-color: #5BC1ED;
  --swiper-pagination-bullet-inactive-color: #E3E3E3;
}