.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: black;
}

.hero-img img {
  width: auto;
  height: 100vh;
  opacity: 0.75;
  max-height: 100vh;
  min-width: 100%;
}

.group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.group h1 {
  font-size: 80px;
  margin: 30px;
}

.btn-start {
  padding: 14px 40px;
  border-radius: 8px;
  border-color: transparent;
  background-color: #C3EDFF;
  transition: background-color 0.5s ease-in;
}

.btn-start:hover {
  background-color: #87c5e0;
  cursor: pointer;
}

@media (max-width: 600px) {
  .group h1 {
    font-size: 32px;
    margin: 15px;
  }
}