.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: black;
}

.hero-img img {
  /* object-fit:cover;
  object-position: center; */
  width: auto;
  height: 100vh;
  opacity: 0.75;
  max-height: 100vh;
  min-width: 100%;
}

.btn-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.btn-group h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 80px;
  margin: 30px;
}

.btn-group p,
.btn-group button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.btn-group button {
  padding: 14px 40px;
  border-radius: 8px;
  border-color: transparent;
  background-color: #C3EDFF;
  transition: background-color 0.5s ease-in, border-color 0.5s ease-in, font-size 0.5s ease-in;
}

.btn-group button:hover {
  background-color: #87c5e0;
  border-color: #000000;
  font-size: 17px;
}