.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    gap: 40px;
    position: relative;
}

.aside {
    position: absolute;
    right:150px;
    top: 37%;
    width: 91px;
    height: 91px;
}


.main-part {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
}


.options-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.question h1 {
    font-size: 40px;
    margin: 0;
}

.btn-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn-group .back {
    text-decoration: underline;
    text-decoration-color: #677487;
    cursor: pointer;
}

.btn-group p {
    color: #677487;
    font-size: 16px;
}

.CircularProgressbar-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}